In [1]:
import pandas as pd

In [115]:
df = pd.read_csv('nba_games.csv', index_col=0)
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
1,240.0,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
2,240.0,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
3,240.0,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
4,240.0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,240.0,240.0,47.0,89.0,0.528,11.0,32.0,0.344,18.0,26.0,...,26.7,33.9,214.0,126.0,IND,139,0,2023,2023-03-16,False
19854,240.0,240.0,43.0,86.0,0.500,8.0,28.0,0.286,19.0,23.0,...,33.3,30.6,154.0,118.0,PHO,116,1,2023,2023-03-16,False
19855,240.0,240.0,43.0,90.0,0.478,13.0,35.0,0.371,17.0,17.0,...,25.0,27.6,154.0,122.0,ORL,113,0,2023,2023-03-16,True
19856,240.0,240.0,40.0,94.0,0.426,13.0,31.0,0.419,18.0,20.0,...,33.3,42.1,226.0,122.0,TOR,128,1,2023,2023-03-16,False
19857,240.0,240.0,47.0,97.0,0.485,14.0,32.0,0.438,20.0,28.0,...,100.0,30.2,174.0,138.0,OKC,111,0,2023,2023-03-16,True

In [116]:
df = df.sort_values('date')
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
1,240.0,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
2,240.0,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
3,240.0,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
4,240.0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19850,240.0,240.0,47.0,89.0,0.528,8.0,24.0,0.333,17.0,25.0,...,25.0,27.7,144.0,136.0,DET,100,1,2023,2023-03-16,True
19848,240.0,240.0,32.0,82.0,0.390,13.0,41.0,0.317,24.0,32.0,...,50.0,35.4,216.0,116.0,BRK,96,1,2023,2023-03-16,True
19856,240.0,240.0,40.0,94.0,0.426,13.0,31.0,0.419,18.0,20.0,...,33.3,42.1,226.0,122.0,TOR,128,1,2023,2023-03-16,False
19851,240.0,240.0,39.0,85.0,0.459,12.0,27.0,0.444,10.0,18.0,...,25.8,26.0,164.0,117.0,DEN,119,0,2023,2023-03-16,False
19857,240.0,240.0,47.0,97.0,0.485,14.0,32.0,0.438,20.0,28.0,...,100.0,30.2,174.0,138.0,OKC,111,0,2023,2023-03-16,True

In [117]:
df = df.reset_index(drop=True)
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
1,240.0,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
2,240.0,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
3,240.0,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
4,240.0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,240.0,240.0,47.0,89.0,0.528,8.0,24.0,0.333,17.0,25.0,...,25.0,27.7,144.0,136.0,DET,100,1,2023,2023-03-16,True
19854,240.0,240.0,32.0,82.0,0.390,13.0,41.0,0.317,24.0,32.0,...,50.0,35.4,216.0,116.0,BRK,96,1,2023,2023-03-16,True
19855,240.0,240.0,40.0,94.0,0.426,13.0,31.0,0.419,18.0,20.0,...,33.3,42.1,226.0,122.0,TOR,128,1,2023,2023-03-16,False
19856,240.0,240.0,39.0,85.0,0.459,12.0,27.0,0.444,10.0,18.0,...,25.8,26.0,164.0,117.0,DEN,119,0,2023,2023-03-16,False
19857,240.0,240.0,47.0,97.0,0.485,14.0,32.0,0.438,20.0,28.0,...,100.0,30.2,174.0,138.0,OKC,111,0,2023,2023-03-16,True

In [118]:
del df['mp.1']
del df['mp_opp.1']
del df['index_opp']
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
2,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
3,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
4,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,240.0,47.0,89.0,0.528,8.0,24.0,0.333,17.0,25.0,0.680,...,25.0,27.7,144.0,136.0,DET,100,1,2023,2023-03-16,True
19854,240.0,32.0,82.0,0.390,13.0,41.0,0.317,24.0,32.0,0.750,...,50.0,35.4,216.0,116.0,BRK,96,1,2023,2023-03-16,True
19855,240.0,40.0,94.0,0.426,13.0,31.0,0.419,18.0,20.0,0.900,...,33.3,42.1,226.0,122.0,TOR,128,1,2023,2023-03-16,False
19856,240.0,39.0,85.0,0.459,12.0,27.0,0.444,10.0,18.0,0.556,...,25.8,26.0,164.0,117.0,DEN,119,0,2023,2023-03-16,False
19857,240.0,47.0,97.0,0.485,14.0,32.0,0.438,20.0,28.0,0.714,...,100.0,30.2,174.0,138.0,OKC,111,0,2023,2023-03-16,True

In [119]:
def add_target(team):
    
    team['target'] = team['won'].shift(-1)
    
    return team

df = df.groupby('team', group_keys=False).apply(add_target)

In [120]:
df[df['team'] == 'DEN']

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
33,240.0,40.0,79.0,0.506,13.0,27.0,0.481,12.0,18.0,0.667,...,32.2,203.0,120.0,HOU,85,1,2016,2015-10-28,True,False
60,240.0,29.0,95.0,0.305,5.0,25.0,0.200,15.0,20.0,0.750,...,31.6,126.0,91.0,MIN,95,0,2016,2015-10-30,False,False
80,240.0,35.0,92.0,0.380,9.0,26.0,0.346,14.0,19.0,0.737,...,41.1,240.0,111.0,OKC,117,1,2016,2015-11-01,False,True
117,240.0,43.0,85.0,0.506,7.0,20.0,0.350,27.0,31.0,0.871,...,25.0,167.0,127.0,LAL,109,1,2016,2015-11-03,True,False
142,240.0,28.0,72.0,0.389,5.0,20.0,0.250,23.0,34.0,0.676,...,39.0,165.0,107.0,UTA,96,0,2016,2015-11-05,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19744,240.0,37.0,88.0,0.420,15.0,40.0,0.375,7.0,15.0,0.467,...,26.8,209.0,114.0,CHI,117,0,2023,2023-03-08,False,False
19763,240.0,44.0,90.0,0.489,13.0,35.0,0.371,19.0,20.0,0.950,...,25.3,192.0,123.0,SAS,128,1,2023,2023-03-10,False,False
19799,240.0,45.0,90.0,0.500,12.0,31.0,0.387,18.0,24.0,0.750,...,25.8,202.0,130.0,BRK,122,0,2023,2023-03-12,False,False
19822,240.0,42.0,76.0,0.553,6.0,25.0,0.240,20.0,25.0,0.800,...,28.8,173.0,122.0,TOR,125,1,2023,2023-03-14,False,True
19853,240.0,47.0,89.0,0.528,8.0,24.0,0.333,17.0,25.0,0.680,...,27.7,144.0,136.0,DET,100,1,2023,2023-03-16,True,NaN

In [121]:
df['target'][pd.isnull(df['target'])] = 2

D:\Anaconda\envs\mlev\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [122]:
df['target'] = df['target'].astype(int, errors='ignore')

In [123]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True,1
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
2,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
3,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
4,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,240.0,47.0,89.0,0.528,8.0,24.0,0.333,17.0,25.0,0.680,...,27.7,144.0,136.0,DET,100,1,2023,2023-03-16,True,2
19854,240.0,32.0,82.0,0.390,13.0,41.0,0.317,24.0,32.0,0.750,...,35.4,216.0,116.0,BRK,96,1,2023,2023-03-16,True,2
19855,240.0,40.0,94.0,0.426,13.0,31.0,0.419,18.0,20.0,0.900,...,42.1,226.0,122.0,TOR,128,1,2023,2023-03-16,False,2
19856,240.0,39.0,85.0,0.459,12.0,27.0,0.444,10.0,18.0,0.556,...,26.0,164.0,117.0,DEN,119,0,2023,2023-03-16,False,2
19857,240.0,47.0,97.0,0.485,14.0,32.0,0.438,20.0,28.0,0.714,...,30.2,174.0,138.0,OKC,111,0,2023,2023-03-16,True,2

In [124]:
df['won'].value_counts()

True     9929
False    9929
Name: won, dtype: int64

In [125]:
df['target'].value_counts()

1    9915
0    9913
2      30
Name: target, dtype: int64

In [126]:
nulls = pd.isnull(df)

In [127]:
nulls = nulls.sum()

In [128]:
nulls = nulls[nulls > 0]

In [129]:
valid_cols = df.columns[~df.columns.isin(nulls.index)]

In [130]:
valid_cols

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=142)

In [131]:
df = df[valid_cols].copy()

In [132]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True,1
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
2,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
3,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
4,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,240.0,47.0,89.0,0.528,8.0,24.0,0.333,17.0,25.0,0.680,...,27.7,144.0,136.0,DET,100,1,2023,2023-03-16,True,2
19854,240.0,32.0,82.0,0.390,13.0,41.0,0.317,24.0,32.0,0.750,...,35.4,216.0,116.0,BRK,96,1,2023,2023-03-16,True,2
19855,240.0,40.0,94.0,0.426,13.0,31.0,0.419,18.0,20.0,0.900,...,42.1,226.0,122.0,TOR,128,1,2023,2023-03-16,False,2
19856,240.0,39.0,85.0,0.459,12.0,27.0,0.444,10.0,18.0,0.556,...,26.0,164.0,117.0,DEN,119,0,2023,2023-03-16,False,2
19857,240.0,47.0,97.0,0.485,14.0,32.0,0.438,20.0,28.0,0.714,...,30.2,174.0,138.0,OKC,111,0,2023,2023-03-16,True,2

In [170]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import RidgeClassifier

rr = RidgeClassifier(alpha=1)
split = TimeSeriesSplit(n_splits=3)
sfs = SequentialFeatureSelector(rr, n_features_to_select=40, direction='forward', cv=split)

In [160]:
removed_columns = ['season', 'date', 'won', 'target', 'team', 'team_opp']

In [135]:
selected_columns = df.columns[~df.columns.isin(removed_columns)]

In [136]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns])

In [137]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.0,0.391304,0.529412,0.277512,0.413793,0.378788,0.491686,0.441860,0.396825,0.730455,...,0.151282,0.800948,0.517647,ATL,0.267857,1.0,2016,2015-10-27,True,1
1,0.0,0.391304,0.323529,0.435407,0.275862,0.348485,0.351544,0.255814,0.222222,0.766628,...,0.020513,0.203791,0.317647,DET,0.375000,0.0,2016,2015-10-27,False,1
2,0.0,0.413043,0.500000,0.322967,0.310345,0.378788,0.368171,0.209302,0.253968,0.519253,...,0.161538,0.345972,0.317647,CHI,0.294643,1.0,2016,2015-10-27,False,1
3,0.0,0.391304,0.397059,0.373206,0.241379,0.227273,0.437055,0.348837,0.349206,0.645274,...,0.089744,0.232227,0.329412,CLE,0.276786,0.0,2016,2015-10-27,True,1
4,0.0,0.347826,0.338235,0.366029,0.206897,0.212121,0.395487,0.418605,0.412698,0.654609,...,0.278205,0.554502,0.317647,GSW,0.419643,1.0,2016,2015-10-27,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,0.0,0.608696,0.426471,0.619617,0.275862,0.303030,0.395487,0.372093,0.380952,0.626604,...,0.073077,0.260664,0.694118,DET,0.321429,1.0,2023,2023-03-16,True,2
19854,0.0,0.282609,0.323529,0.289474,0.448276,0.560606,0.376485,0.534884,0.492063,0.708285,...,0.171795,0.601896,0.458824,BRK,0.285714,1.0,2023,2023-03-16,True,2
19855,0.0,0.456522,0.500000,0.375598,0.448276,0.409091,0.497625,0.395349,0.301587,0.883314,...,0.257692,0.649289,0.529412,TOR,0.571429,1.0,2023,2023-03-16,False,2
19856,0.0,0.434783,0.367647,0.454545,0.413793,0.348485,0.527316,0.209302,0.269841,0.481914,...,0.051282,0.355450,0.470588,DEN,0.491071,0.0,2023,2023-03-16,False,2
19857,0.0,0.608696,0.544118,0.516746,0.482759,0.424242,0.520190,0.441860,0.428571,0.666278,...,0.105128,0.402844,0.717647,OKC,0.419643,0.0,2023,2023-03-16,True,2

In [138]:
sfs.fit(df[selected_columns], df['target'])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=30)

In [139]:
predictors = list(selected_columns[sfs.get_support()])

In [140]:
predictors

['fg',
 'fga',
 'ft%',
 'ts%',
 'orb%',
 'usg%',
 'fg_max',
 '3p_max',
 'tov_max',
 'pts_max',
 '+/-_max',
 'trb%_max',
 'tov%_max',
 'drtg_max',
 'home',
 'fg_opp',
 '3p%_opp',
 'ast_opp',
 'blk_opp',
 'drb%_opp',
 'blk%_opp',
 'usg%_opp',
 'tov_max_opp',
 '+/-_max_opp',
 '3par_max_opp',
 'drb%_max_opp',
 'stl%_max_opp',
 'blk%_max_opp',
 'usg%_max_opp',
 'home_opp']

In [141]:
def backtest(data, model, predictors, start=2, step=1):
    
    all_predictions = []
    
    seasons = sorted(data['season'].unique())
    
    for i in range(start, len(seasons), step):
        
        season = seasons[i]
        
        train = data[data['season'] < season]
        test = data[data['season'] == season]
        
        model.fit(train[predictors], train['target'])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds,index=test.index)
        
        combined = pd.concat([test['target'], preds], axis=1)
        combined.columns = ['actual', 'prediction']
        
        all_predictions.append(combined)
        
    return pd.concat(all_predictions)

In [142]:
predictions = backtest(df, rr, predictors)

In [143]:
predictions

       actual  prediction
5244        1           1
5245        1           0
5246        0           0
5247        1           0
5248        1           0
...       ...         ...
19853       2           1
19854       2           1
19855       2           0
19856       2           0
19857       2           1

[14614 rows x 2 columns]

In [144]:
from sklearn.metrics import accuracy_score

predictions = predictions[predictions['actual'] != 2]
accuracy_score(predictions['actual'], predictions['prediction'])

0.5431294569391114

In [145]:
df.groupby('home').apply(lambda x: x[x['won'] == 1].shape[0] / x.shape[0])

home
0.0    0.426931
1.0    0.573069
dtype: float64

In [146]:
df_rolling = df[list(selected_columns) + ['won', 'team', 'season']]

In [147]:
df_rolling

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp,won,team,season
0,0.0,0.391304,0.529412,0.277512,0.413793,0.378788,0.491686,0.441860,0.396825,0.730455,...,0.071,0.550314,0.151282,0.800948,0.517647,0.267857,1.0,True,DET,2016
1,0.0,0.391304,0.323529,0.435407,0.275862,0.348485,0.351544,0.255814,0.222222,0.766628,...,0.047,0.300839,0.020513,0.203791,0.317647,0.375000,0.0,False,ATL,2016
2,0.0,0.413043,0.500000,0.322967,0.310345,0.378788,0.368171,0.209302,0.253968,0.519253,...,0.140,0.509434,0.161538,0.345972,0.317647,0.294643,1.0,False,CLE,2016
3,0.0,0.391304,0.397059,0.373206,0.241379,0.227273,0.437055,0.348837,0.349206,0.645274,...,0.185,0.270440,0.089744,0.232227,0.329412,0.276786,0.0,True,CHI,2016
4,0.0,0.347826,0.338235,0.366029,0.206897,0.212121,0.395487,0.418605,0.412698,0.654609,...,0.079,0.679245,0.278205,0.554502,0.317647,0.419643,1.0,False,NOP,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,0.0,0.608696,0.426471,0.619617,0.275862,0.303030,0.395487,0.372093,0.380952,0.626604,...,0.043,0.213836,0.073077,0.260664,0.694118,0.321429,1.0,True,DEN,2023
19854,0.0,0.282609,0.323529,0.289474,0.448276,0.560606,0.376485,0.534884,0.492063,0.708285,...,0.072,0.475891,0.171795,0.601896,0.458824,0.285714,1.0,True,SAC,2023
19855,0.0,0.456522,0.500000,0.375598,0.448276,0.409091,0.497625,0.395349,0.301587,0.883314,...,0.062,0.300839,0.257692,0.649289,0.529412,0.571429,1.0,False,OKC,2023
19856,0.0,0.434783,0.367647,0.454545,0.413793,0.348485,0.527316,0.209302,0.269841,0.481914,...,0.089,0.222222,0.051282,0.355450,0.470588,0.491071,0.0,False,DET,2023
19857,0.0,0.608696,0.544118,0.516746,0.482759,0.424242,0.520190,0.441860,0.428571,0.666278,...,0.144,1.000000,0.105128,0.402844,0.717647,0.419643,0.0,True,TOR,2023

In [148]:
def find_team_averages(team):
    
    rolling = team.rolling(10).mean()
    
    return rolling


df_rolling = df_rolling.groupby(['team', 'season'], group_keys=False).apply(find_team_averages)

In [149]:
df_rolling

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp,won,season
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,0.025,0.534783,0.416176,0.538278,0.396552,0.442424,0.406176,0.372093,0.339683,0.707701,...,0.0676,0.0583,0.230189,0.125256,0.481517,0.583529,0.455357,0.5,0.5,2023.0
19854,0.000,0.523913,0.380882,0.558373,0.517241,0.519697,0.466390,0.469767,0.420635,0.725438,...,0.0474,0.0555,0.355765,0.150641,0.489100,0.618824,0.485714,0.5,0.8,2023.0
19855,0.000,0.508696,0.485294,0.447129,0.441379,0.493939,0.415558,0.439535,0.361905,0.803151,...,0.0577,0.0916,0.535744,0.193077,0.365877,0.552941,0.454464,0.4,0.6,2023.0
19856,0.000,0.467391,0.423529,0.449761,0.344828,0.392424,0.391330,0.334884,0.315873,0.696966,...,0.0587,0.0845,0.413627,0.128718,0.464929,0.495294,0.450000,0.3,0.1,2023.0
19857,0.025,0.493478,0.472059,0.440431,0.382759,0.401515,0.431116,0.323256,0.287302,0.765344,...,0.0541,0.0725,0.415304,0.152564,0.513270,0.529412,0.414286,0.7,0.5,2023.0

In [150]:
rolling_cols = [f'{col}_10' for col in df_rolling.columns]
df_rolling.columns = rolling_cols

df = pd.concat([df, df_rolling], axis=1)

In [151]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp_10,blk%_max_opp_10,tov%_max_opp_10,usg%_max_opp_10,ortg_max_opp_10,drtg_max_opp_10,total_opp_10,home_opp_10,won_10,season_10
0,0.0,0.391304,0.529412,0.277512,0.413793,0.378788,0.491686,0.441860,0.396825,0.730455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.391304,0.323529,0.435407,0.275862,0.348485,0.351544,0.255814,0.222222,0.766628,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.413043,0.500000,0.322967,0.310345,0.378788,0.368171,0.209302,0.253968,0.519253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.391304,0.397059,0.373206,0.241379,0.227273,0.437055,0.348837,0.349206,0.645274,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.347826,0.338235,0.366029,0.206897,0.212121,0.395487,0.418605,0.412698,0.654609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,0.0,0.608696,0.426471,0.619617,0.275862,0.303030,0.395487,0.372093,0.380952,0.626604,...,0.0676,0.0583,0.230189,0.125256,0.481517,0.583529,0.455357,0.5,0.5,2023.0
19854,0.0,0.282609,0.323529,0.289474,0.448276,0.560606,0.376485,0.534884,0.492063,0.708285,...,0.0474,0.0555,0.355765,0.150641,0.489100,0.618824,0.485714,0.5,0.8,2023.0
19855,0.0,0.456522,0.500000,0.375598,0.448276,0.409091,0.497625,0.395349,0.301587,0.883314,...,0.0577,0.0916,0.535744,0.193077,0.365877,0.552941,0.454464,0.4,0.6,2023.0
19856,0.0,0.434783,0.367647,0.454545,0.413793,0.348485,0.527316,0.209302,0.269841,0.481914,...,0.0587,0.0845,0.413627,0.128718,0.464929,0.495294,0.450000,0.3,0.1,2023.0
19857,0.0,0.608696,0.544118,0.516746,0.482759,0.424242,0.520190,0.441860,0.428571,0.666278,...,0.0541,0.0725,0.415304,0.152564,0.513270,0.529412,0.414286,0.7,0.5,2023.0

In [152]:
df = df.dropna()

In [153]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp_10,blk%_max_opp_10,tov%_max_opp_10,usg%_max_opp_10,ortg_max_opp_10,drtg_max_opp_10,total_opp_10,home_opp_10,won_10,season_10
243,0.0,0.500000,0.382353,0.523923,0.344828,0.333333,0.457245,0.255814,0.238095,0.708285,...,0.0628,0.0679,0.413522,0.125256,0.361611,0.449412,0.322321,0.4,0.8,2016.0
249,0.0,0.630435,0.426471,0.645933,0.620690,0.515152,0.562945,0.325581,0.238095,0.927655,...,0.0613,0.0772,0.469497,0.220641,0.394787,0.531765,0.300893,0.5,1.0,2016.0
253,0.0,0.326087,0.250000,0.413876,0.310345,0.257576,0.509501,0.511628,0.412698,0.827305,...,0.0699,0.1072,0.380294,0.274359,0.270616,0.478824,0.286607,0.6,0.7,2016.0
255,0.0,0.282609,0.235294,0.363636,0.344828,0.348485,0.439430,0.627907,0.476190,0.886814,...,0.0747,0.0742,0.303564,0.131667,0.387678,0.410588,0.325893,0.5,0.5,2016.0
259,0.0,0.217391,0.279412,0.234450,0.310345,0.348485,0.395487,0.372093,0.317460,0.778296,...,0.0620,0.0626,0.373480,0.142436,0.320379,0.429412,0.318750,0.5,0.4,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,0.0,0.608696,0.426471,0.619617,0.275862,0.303030,0.395487,0.372093,0.380952,0.626604,...,0.0676,0.0583,0.230189,0.125256,0.481517,0.583529,0.455357,0.5,0.5,2023.0
19854,0.0,0.282609,0.323529,0.289474,0.448276,0.560606,0.376485,0.534884,0.492063,0.708285,...,0.0474,0.0555,0.355765,0.150641,0.489100,0.618824,0.485714,0.5,0.8,2023.0
19855,0.0,0.456522,0.500000,0.375598,0.448276,0.409091,0.497625,0.395349,0.301587,0.883314,...,0.0577,0.0916,0.535744,0.193077,0.365877,0.552941,0.454464,0.4,0.6,2023.0
19856,0.0,0.434783,0.367647,0.454545,0.413793,0.348485,0.527316,0.209302,0.269841,0.481914,...,0.0587,0.0845,0.413627,0.128718,0.464929,0.495294,0.450000,0.3,0.1,2023.0
19857,0.0,0.608696,0.544118,0.516746,0.482759,0.424242,0.520190,0.441860,0.428571,0.666278,...,0.0541,0.0725,0.415304,0.152564,0.513270,0.529412,0.414286,0.7,0.5,2023.0

In [154]:
def shift_col(team, col_name):
    
    next_col = team[col_name].shift(-1)
    
    return next_col

def add_col(df, col_name):
    
    return df.groupby('team', group_keys=False).apply(lambda x: shift_col(x, col_name))

df['home_next'] = add_col(df, 'home')
df['team_opp_next'] = add_col(df, 'team_opp')
df['date_next'] = add_col(df, 'date')

D:\Anaconda\envs\mlev\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
D:\Anaconda\envs\mlev\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == "":
D:\Anaconda\envs\mlev\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [155]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp_10,ortg_max_opp_10,drtg_max_opp_10,total_opp_10,home_opp_10,won_10,season_10,home_next,team_opp_next,date_next
243,0.0,0.500000,0.382353,0.523923,0.344828,0.333333,0.457245,0.255814,0.238095,0.708285,...,0.125256,0.361611,0.449412,0.322321,0.4,0.8,2016.0,0.0,BOS,2015-11-13
249,0.0,0.630435,0.426471,0.645933,0.620690,0.515152,0.562945,0.325581,0.238095,0.927655,...,0.220641,0.394787,0.531765,0.300893,0.5,1.0,2016.0,1.0,BRK,2015-11-14
253,0.0,0.326087,0.250000,0.413876,0.310345,0.257576,0.509501,0.511628,0.412698,0.827305,...,0.274359,0.270616,0.478824,0.286607,0.6,0.7,2016.0,0.0,SAC,2015-11-15
255,0.0,0.282609,0.235294,0.363636,0.344828,0.348485,0.439430,0.627907,0.476190,0.886814,...,0.131667,0.387678,0.410588,0.325893,0.5,0.5,2016.0,0.0,WAS,2015-11-14
259,0.0,0.217391,0.279412,0.234450,0.310345,0.348485,0.395487,0.372093,0.317460,0.778296,...,0.142436,0.320379,0.429412,0.318750,0.5,0.4,2016.0,1.0,NOP,2015-11-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19853,0.0,0.608696,0.426471,0.619617,0.275862,0.303030,0.395487,0.372093,0.380952,0.626604,...,0.125256,0.481517,0.583529,0.455357,0.5,0.5,2023.0,NaN,NaN,NaN
19854,0.0,0.282609,0.323529,0.289474,0.448276,0.560606,0.376485,0.534884,0.492063,0.708285,...,0.150641,0.489100,0.618824,0.485714,0.5,0.8,2023.0,NaN,NaN,NaN
19855,0.0,0.456522,0.500000,0.375598,0.448276,0.409091,0.497625,0.395349,0.301587,0.883314,...,0.193077,0.365877,0.552941,0.454464,0.4,0.6,2023.0,NaN,NaN,NaN
19856,0.0,0.434783,0.367647,0.454545,0.413793,0.348485,0.527316,0.209302,0.269841,0.481914,...,0.128718,0.464929,0.495294,0.450000,0.3,0.1,2023.0,NaN,NaN,NaN
19857,0.0,0.608696,0.544118,0.516746,0.482759,0.424242,0.520190,0.441860,0.428571,0.666278,...,0.152564,0.513270,0.529412,0.414286,0.7,0.5,2023.0,NaN,NaN,NaN

In [156]:
df = df.copy()

In [157]:
full = df.merge(
    df[rolling_cols + ['team_opp_next', 'date_next', 'team']],
    left_on=['team', 'date_next'], 
    right_on=['team_opp_next', 'date_next']
)

In [158]:
full

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp_10_y,usg%_max_opp_10_y,ortg_max_opp_10_y,drtg_max_opp_10_y,total_opp_10_y,home_opp_10_y,won_10_y,season_10_y,team_opp_next_y,team_y
0,0.0,0.326087,0.250000,0.413876,0.310345,0.257576,0.509501,0.511628,0.412698,0.827305,...,0.437212,0.126026,0.404739,0.408235,0.398214,0.2,0.3,2016.0,TOR,SAC
1,0.0,0.456522,0.500000,0.375598,0.379310,0.348485,0.483373,0.441860,0.396825,0.730455,...,0.380294,0.274359,0.270616,0.478824,0.286607,0.6,0.7,2016.0,SAC,TOR
2,0.0,0.326087,0.558824,0.186603,0.206897,0.469697,0.203088,0.139535,0.111111,0.854142,...,0.413732,0.157821,0.470142,0.391765,0.405357,0.6,0.1,2016.0,DEN,NOP
3,0.0,0.413043,0.397059,0.401914,0.137931,0.212121,0.263658,0.418605,0.365079,0.757293,...,0.468868,0.124231,0.332227,0.407059,0.343750,0.5,0.4,2016.0,ORL,MIN
4,0.0,0.304348,0.323529,0.318182,0.275862,0.272727,0.432304,0.186047,0.158730,0.787631,...,0.310377,0.128205,0.312796,0.410588,0.328571,0.5,0.6,2016.0,PHI,DAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17575,0.0,0.565217,0.573529,0.444976,0.379310,0.439394,0.395487,0.441860,0.349206,0.848308,...,0.330608,0.170897,0.499526,0.507059,0.413393,0.7,0.5,2023.0,OKC,TOR
17576,0.0,0.347826,0.323529,0.377990,0.413793,0.560606,0.347981,0.558140,0.523810,0.690782,...,0.341195,0.142179,0.468246,0.650588,0.556250,0.5,0.8,2023.0,BRK,SAC
17577,0.0,0.565217,0.411765,0.578947,0.482759,0.393939,0.554632,0.348837,0.285714,0.815636,...,0.292034,0.174872,0.500000,0.650588,0.432143,0.5,0.7,2023.0,CLE,PHI
17578,0.0,0.478261,0.514706,0.389952,0.275862,0.287879,0.413302,0.302326,0.238095,0.854142,...,0.283753,0.139615,0.357346,0.514118,0.498214,0.4,0.4,2023.0,PHO,ORL
17579,0.0,0.413043,0.264706,0.521531,0.620690,0.575758,0.509501,0.511628,0.444444,0.758460,...,0.541614,0.147692,0.358294,0.515294,0.462500,0.8,0.5,2023.0,SAC,BRK

In [161]:
removed_columns = list(full.columns[full.dtypes == 'object']) + removed_columns

In [162]:
removed_columns

['team_x',
 'team_opp',
 'date',
 'team_opp_next_x',
 'date_next',
 'team_opp_next_y',
 'team_y',
 'season',
 'date',
 'won',
 'target',
 'team',
 'team_opp']

In [163]:
selected_columns = full.columns[~full.columns.isin(removed_columns)]

In [171]:
sfs.fit(full[selected_columns], full['target'])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=40)

In [172]:
predictors= list(selected_columns[sfs.get_support()])

In [173]:
predictors

['fga',
 'orb',
 'usg%',
 'fga_max',
 'ast_max',
 'trb%_max',
 'usg%_max',
 'stl%_opp',
 'usg%_opp',
 'pts_max_opp',
 'stl%_max_opp',
 'blk%_max_opp',
 'stl_10_x',
 'drb%_10_x',
 'usg%_10_x',
 'pts_max_10_x',
 'ast%_max_10_x',
 'usg%_max_10_x',
 'ft%_opp_10_x',
 'blk_opp_10_x',
 'orb%_opp_10_x',
 'usg%_opp_10_x',
 'ft%_max_opp_10_x',
 'ast_max_opp_10_x',
 'won_10_x',
 'home_next',
 'pf_10_y',
 'tov%_10_y',
 'usg%_10_y',
 'orb_max_10_y',
 'pts_max_10_y',
 '+/-_max_10_y',
 'drb%_max_10_y',
 'blk_opp_10_y',
 'pf_opp_10_y',
 'ts%_opp_10_y',
 'efg%_opp_10_y',
 'usg%_opp_10_y',
 '+/-_max_opp_10_y',
 '3par_max_opp_10_y']

In [174]:
predictions = backtest(full, rr, predictors)

In [169]:
accuracy_score(predictions['actual'], predictions['prediction'])

0.6410256410256411

Try using different model (XGBoost, Random Forest)

Use more features, and try backwards feature selection

In [175]:
accuracy_40 = accuracy_score(predictions['actual'], predictions['prediction'])
accuracy_40

0.6411805716941669